# Node.js
node_modules/
.env
dist/
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Production builds (React)
frontend/build/

# Logs
logs/
*.log

# MongoDB dumps
dump/

# Local dev files
*.local